// It's highly recommended to change the default colors
// to match your app's branding.

$primary: #273156;
$secondary: #1c2440;
$accent: #9c27b0;

$dark: #1d1d1d;

$positive: linear-gradient(
  90deg,
  rgba(22, 71, 98, 1) 35%,
  rgba(11, 135, 147, 1) 100%
);
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

@import "~quasar-variables-styl";
